{% extends 'base.html' %}
{% load static %}

{% block title %} Page Not Found {% endblock %}

{% block content %}

  <!--Body-->
    <div class="login-body" style="background-image: url(&quot;{% static 'images/login-hero.jpg' %}&quot;);">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-form">
                        <h3 class="text-center mb-3" style="color: white;">Activation Error</h3>
                        <p class="description">An Error Occured while trying to activate your account, Check you email for the right activation link</p>
                    </div>
                </div>
            </div>
        </div>
               
    </div>

{%endblock%}